<h1>Form</h1>

<form action="/form" method="GET">
  <label for="department_name">Job Title:</label>
  <input id="department_name" name="Title" type="text">
  <input type="submit" value="Search">
</form>
