<h1>Search by Department</h1>

<form action="/form" method="post">
  <label for="department_name">Job Title:</label>
  <input id="department_name" name="title" type="text">
  <input type="submit">
</form>

